   
      /*General Styling*/
   body{
        background-color:#D5C7B9;
        color: #2F2018;
    }
    
    /*Nav Styling*/
.logo {
    width: 23%;
    padding:1%;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 0 20px;
  }
  
  a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
  }
  
     /*Left Content Styling*/
.left-content{
    padding-right:50%;
    padding-left: 10%;
}
      /*Case Study Styling*/
  .case-studies {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .case-study {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  
  .case-study h3 {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .case-study p {
    margin-bottom: 20px;
  }
  
  .view-case-study {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .view-case-study:hover {
    background-color: #555;
  }

  
  .case-study .image-block {
    flex-shrink: 0;
  }
  
  .case-study .case-study-info {
    flex-grow: 1;
  }

   /*Footer Styling*/
  
   footer {
    background-color:
  }
  
  .footer-nav, footer ul {
    display: block;
  }

  /*Skills Page*/
  .skills-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skills-container {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .skill-section {
    display: flex;
    border: 1px solid #ccc;
    flex-wrap: wrap;
  }
  
  .skill-section-flipped-desktop {
    display: flex;
    flex-direction: row-reverse;
  }
  
  .skill-image {
    flex-basis: 100%;
    padding: 1rem;
    text-align: center;
  }
  
  .skill-content {
    flex-basis: 100%;
    padding: 1rem;
    text-align: center;
  }
  
  .skill-section h2 {
    margin-top: 1rem;
  }
  
  .skill-section p {
    margin: 0;
    padding: 0;
  }
  
  .skill-section:last-child {
    margin-bottom: 0;
  }
  
  .skill-image img {
    max-width: 100%;
    height: auto;
  }
 
  

 /*Mobile*/

  /*Stack the case study images on mobile*/
  @media only screen and (max-width: 768px) {
    .case-study {
      flex-direction: column;
    }
  
    .case-study .image-block {
      order: -1;
      margin-bottom: 20px;
    }
    .skill-section {
      flex-wrap: nowrap;
    }
    /*Skills CSS*/
    .skill-section-flipped-desktop {
      flex-direction: row;
    }
  
    .skill-section-flipped-desktop .skill-image {
      flex-basis: 30%;
      text-align: left;
    }
  
    .skill-section-flipped-desktop .skill-content {
      flex-basis: 70%;
      text-align: left;
    }
  
    .skill-section h2 {
      margin-top: 0;}
  }
  